{%extends "bases/branch.html"%}

{%block branches%}
<h1> Create New Branch</h1>
<form action="/branchCrate" method="post">
    <div class="form-group">
        <label >Branch Name</label>
        <input type="text" class="form-control" name = "branchName" placeholder="Branch Name">
    </div>
    <div class="form-group">
        <label >Branch Admin</label>
        <input type="text" class="form-control" name = "adminName"  placeholder="Admin Name">
    </div>
    <button type="submit" class="btn btn-default">Create</button>

</form>

{%endblock%}